<h1>Discriminatory Listings</h1>

<table>
  <tr align="left">
    <th>heading</th>
    <th>listed at</th>
    <th>address</th>
    <th>latitude</th>
    <th>longitude</th>
    <th>description</th>
    <th>discriminatory</th>
  </tr>

  <% @listings.each do |listing| %>
    <tr>
      <td><%= link_to listing.heading, listing_path(listing) %></td>
      <td><%= listing.listed_at %></td>
      <td><%= listing.address %></td>
      <td><%= listing.latitude %></td>
      <td><%= listing.longitude %></td>
      <td><%= listing.description %></td>
      <td><%= listing.discriminatory %></td>
    </tr>
  <% end %>
</table>