
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Legal Housing | Boston</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">


  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js" async></script>

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container">
      <div class="row">
        <div class="col-sm-12" id="scrape-button">
          <%= button_to "Run Scraper", scrapers_path, class: 'btn btn-primary btn-block' %>
        </div>
      </div>
      <div class="row">
        <div id="viz"></div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table" data-toggle="table" >
            <thead>
              <tr>
                <th data-sortable="true" class="heading-label">heading</th>
                <th data-sortable="true" class="date-time-label">listed at</th>
                <th data-sortable="true" class="address-label">address</th>
                <th data-sortable="true" class="latitude-label">latitude</th>
                <th data-sortable="true" class="longitude-label">longitude</th>
                <th data-sortable="true" class="description-label">description</th>
                <th data-sortable="true" class="descriminatory-label">discriminatory</th>
              </tr>
            </thead>
            <tbody>
              <% @listings.each do |listing| %>
                <tr class="housing-column">
                  <td class="heading-item"><%= link_to listing.heading, listing_path(listing) %></td>
                  <td class="date-time-item"><%= listing.listed_at %></td>
                  <td class="address-item"><%= listing.address %></td>
                  <td class="latitude-item"><%= listing.latitude %></td>
                  <td class="longitude-item"><%= listing.longitude %></td>
                  <td class="description-item"><%= listing.description %></td>
                  <td class="descriminatory-item"><%= listing.discriminatory %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="panel-footer">
                    <div class="row">
                        <div class="col col-xs-offset-3 col-xs-6">
                            <nav aria-label="Page navigation" class="text-center">
                                <ul class="pagination">
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">«</span>
                                        </a>
                                    </li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">»</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
        </div>
      </div>
  </div>
  <!--
  <script src="//d3plus.org/js/d3.js"></script>
  <script src="//d3plus.org/js/d3plus.js"></script>

  <script>
      var data = <% @listings %;
      d3plus.viz()
        .container("#viz")
        .data(data)
        .type("pie")
        .id("name")
        .size("value")
        .draw()
  </script>
 End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
