<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Legal Housing | Boston</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">


  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="twelve column" style="margin-top: 25%">
        <h1 style ="text-align:center;">Understanding Discriminatory Housing in Boston</h1>
        <div id = "housing-icon">
          <img src="assets/housing.svg">
        </div>
        <p>
         This is a project for the City of Boston that addresses the potential discriminatory housing rental practices in Boston as manifested through Craigslist postings.  </p>

      </div>
    </div>
  </div>
  <div class="container">
<table>
  <tr>
    <th>heading</th>
    <th>listed at</th>
    <th>address</th>
    <th>latitude</th>
    <th>longitude</th>
    <th>description</th>
    <th>discriminatory</th>
  </tr>

  <% @listings.each do |listing| %>
    <tr>
      <td><%= link_to listing.heading, listing_path(listing) %></td>
      <td><%= listing.listed_at %></td>
      <td><%= listing.address %></td>
      <td><%= listing.latitude %></td>
      <td><%= listing.longitude %></td>
      <td><%= listing.description %></td>
      <td><%= listing.discriminatory %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @listings %>

</div>
  </body>


<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
