<%= form_tag(listings_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Terms" %>
<% end %>

<table>
  <tr>
    <th>heading</th>
    <th>listed at</th>
    <th>address</th>
    <th>latitude</th>
    <th>longitude</th>
    <th>description</th>
    <th>discriminatory</th>
  </tr>

  <% @listings.each do |listing| %>
    <tr>
      <td><%= link_to listing.heading, listing_path(listing) %></td>
      <td><%= listing.listed_at %></td>
      <td><%= listing.address %></td>
      <td><%= listing.latitude %></td>
      <td><%= listing.longitude %></td>
      <td><%= listing.description %></td>
      <td><%= listing.discriminatory %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @listings %>
<%= link_to 'Return to Main Page', listings_path %>
