<h1>Listing Show</h1>

<ul>
  <li>Heading: <%= @listing.heading %></li>
  <li>Date listed: <%= @listing.listed_at %></li>
  <li>Address: <%= @listing.address %></li>
  <li>Lat: <%= @listing.latitude %></li>
  <li>Long: <%= @listing.longitude %></li>
  <li>Description: <%= @listing.description %></li>
  <li>Discriminatory?: <%= @listing.discriminatory %></li>
</ul>