<h1>Listings#show</h1>
<!-- <p>Find me in app/views/listings/show.html.erb</p> -->

<ul>
  <li>heading: <%= @listing.heading %></li>
  <li>listed_at: <%= @listing.listed_at %></li>
  <li>address: <%= @listing.address %></li>
  <li>latitude: <%= @listing.latitude %></li>
  <li>longitude: <%= @listing.longitude %></li>
  <li>description: <%= @listing.description %></li>
  <li>discriminatory: <%= @listing.discriminatory %></li>
</ul>