<div class="page-title">Discriminatory Listings</div>
<h3>Single listing </h3>
<div class="container">
		<% if @listing.discriminatory %>
			<h3> this listing is DISCRIMINATORY! </h3>
		<% end %>
		<p>id: <%= @listing.id %></p>
		<p>listed_at: <%= @listing.listed_at %></p>
		<p>address: <%= @listing.address %></p>
		<p>latitude: <%= @listing.latitude %></p>
		<p>longitude: <%= @listing.longitude %></p>
		<p>heading: <%= @listing.heading%></p>
		<p>description: <%= @listing.description %></p>
		<p>discriminatory: <%= @listing.discriminatory %></p>
</div>
