<h1>Edit Phrase</h1>
   
<%= form_for @phrase do |f| %>
  <p>
    <%= f.label :content %>
    <%= f.text_field :content %>
  </p>
  <p>
    <%= f.label :category %>
    <%= f.collection_select :category_id, Category.all, :id, :name %>
  </p>
  <%= f.submit %>
<% end %>