<!DOCTYPE html>
<html>
  <head>
    <title>HousingDataServer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <header class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-class">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li class="active"><a href="listings">All Listings</a></li>
      </ul>
    </div>
  </header>
<%= yield %>
</body>
</html>
