<!DOCTYPE html>
<html>
  <head>
    <title>HousingDataServer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <div>
  <%= render 'layouts/header' %>
    <div id="flash_messages" class="flash_style">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, :class => "flash #{key}") %>
      <% end %>
    </div>
  </div>
  <%= yield %>
  </body>
</html>
