<!DOCTYPE html>
<html>
  <head>
    <title>HousingDataServer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highcharts/5.0.14/css/highcharts.css" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <header class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-class">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav">
        <li ><a href="/">Home</a></li>
         <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Listings
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li ><a href="/listings">All Listings</a></li>
            <li ><a href="/discriminatory">All Discriminatory</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Tools
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/tools/stats">Stats</a></li>
            <li><a href="/tools/trackchanges">Listings Changes</a></li>
          </ul>
        </li>
        <!--<li><a href="/Contact">Contact</a></li>-->

      </ul>
    </div>
  </header>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/5.0.14/highcharts.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
<%= yield %>
</body>
</html>
