<!DOCTYPE html>
<html>
  <head>
    <title>HousingDataServer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <header class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-class">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav">
        <li ><a href="/">Home</a></li>
         <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Listings
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li ><a href="/listings">All Listings</a></li>
            <li ><a href="/listings/discriminatory">All Discriminatory</a></li>
          </ul>
        </li>
        
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Tools
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/tools/stats">Stats</a></li>
            <li><a href="/tools/trackchanges">Track Changes</a></li>
          </ul>
        </li>
        <li><a href="/Contact">Contact</a></li>
      </ul>
    </div>
  </header>
<%= yield %>
</body>
</html>